[mysqld]
default-time-zone = '+8:00'
port = 3306
max_connections=200
max_connect_errors=10

character-set-server=utf8

default-storage-engine=INNODB

default_authentication_plugin=mysql_native_password

log_bin_trust_function_creators=1
socket=/run/mysqld/mysqld.sock
[mysql]
default-character-set=utf8
[client]
default-character-set=utf8
socket=/run/mysqld/mysqld.sock